body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.background {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

#countdown {
  font-size: 3em;
  font-weight: bold;
}

.carousel-container {
  margin-top: 50px;
  width: 80%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
}